name: Build firmware

on:
  push:
    branches: ['**']

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:trixie

    steps:
      - uses: actions/checkout@v6

      - name: Check OS version
        run: uname -a

      - name: Install dependencies
        run: apt install sdcc xxd python-is-python3 libjson-c-dev

      - name: Check sdcc version
        run: sdcc -v

      - name: Make project
        run: make
