name: Build firmware

on:
  push:
    branches: ['**']

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:trixie

    steps:
      - uses: actions/checkout@v6

      - name: Install lsb_release
        run: |
          apt update
          apt install lsb-release -y

      - name: run lsb_release
        run: |
          lsb_release -a

      - name: Check OS version
        run: uname -a

      - name: Install dependencies
        run: apt install make gcc sdcc xxd python-is-python3 libjson-c-dev -y

      - name: Check sdcc version
        run: sdcc -v

      - name: Make project
        run: make
